{% extends 'base.html' %}
{% load static %}


{% block title %}Posts{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock extra_css %}

{% block content %}
<h1>Posts</h1>
{% for post in post_list %}
<div class="card container">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle">{{ post.subtitle }}</h6>
        <p class="card-text">{{ post.body|truncatechars:128 }}</p>
        
        <a href="{% url 'detail' post.id %}" class="card-link btn btn-outline-secondary btn-sm">Continue reading...</a>
    </div>
</div>
<br>
{% endfor %}
{% endblock content %}
