.about-body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: #f6f3a7;
    margin: auto;
    width: 90%;
}

p {
    padding: 10px;
}

img {
    width: 100%;
    height: 100%;
}

